<div class="footer-menu footer-menu-scroll footer-menu-fixed">
  <div class="row text-center">
  <ul>
    <li><a routerLink="/"><i class="material-icons icon-circle">home</i><em>Home</em><div class="clearfix"></div></a></li>
    <li><a routerLink="/recordsdashboard"><i class="material-icons icon-circle">note_add</i><em>Records</em></a></li>
    <li><a routerLink="/vitals"><i class="material-icons icon-circle">explore</i><em>Vitals</em></a></li>
    <li><a href="javascript:void(0);"><i class="material-icons icon-circle">account_balance</i><em>Profile</em></a></li>
    <li><a href="javascript:void(0);"><i class="material-icons icon-circle">notifications</i><em>Alerts</em></a></li>
  </ul>
  </div>
  </div>