<div class="wrapper">
  <div class="container-fluid bg-light-opac box-shadow">
      <div class="row">
          <div class="col-12">
             
                <div class="landing-header text-center mt-3 mb-3">
                    <h1 class="center-text fa-4x text-shadow ultrabold color-white bottom-10">Medical Records</h1>
                    
                   
                    
          
        </div>
          </div>
        </div>
  </div>
  <div class="container">
 
  </div>
    <div class="container mt-4 main-container">
         
        <div class="row">
            
            <div class="col-12 col-md-6">
                <a routerLink="/records">

                <div class="card mb-4">
                    <div class="card-body p-2">
                        <div class="media">
                        
                            <div class="icon-rounded icon-40 bg-success mr-3">
                                <i class="material-icons text-white">file_upload</i>
                            </div>
                            <div class="media-body">
                                <h5 class="mb-0">Upload Records</h5>
                                <p class="mb-0">Click picture/ Select file and upload medical documents</p>
                            </div>
                         
                        </div>
                       
                    </div>
             
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6">
                <a routerLink="/viewrecords">
                <div class="card mb-4">
                    <div class="card-body p-2">
                        <div class="media">
                            <a href="javascript:void(0)" class="icon-rounded icon-40 bg-warning mr-3">
                                <i class="material-icons text-white">remove_red_eye</i>
                            </a>
                            <div class="media-body">
                                <h5 class="mb-0">View Records</h5>
                                <p class="mb-0"> Check all your medical documents</p>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a routerLink="/medicalhistory">
                <div class="card mb-4">
                    <div class="card-body p-2">
                        <div class="media">
                            <a href="javascript:void(0)" class="icon-rounded icon-40 bg-primary mr-3">
                                <i class="material-icons text-white">history</i>
                            </a>
                            <div class="media-body">
                                <h5 class="mb-0">Medical History</h5>
                                <p class="mb-0">Maintain your Family, Surgical, Social History, Allergies and Current Medications </p>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
      
    </div>
    <!-- content page ends -->
</div>