
      <!-- main header ends -->

      <!-- sidebar left -->
      <div class="sidebar sidebar-left">
        <div class="container has-background-img">
                <figure class="background-img pink-gradient">
                    <img src="../assets/img/singer-690117_640.jpg" alt="" class="">
                </figure>
                <div class="media w-100 my-3">
                    <figure class="avatar avatar-40 rounded-circle align-self-start ">
                        <label class="checkbox-user-check">
                            <input type="checkbox">
                            <i class="material-icons">check</i>
                        </label>
                        <img src="../assets/img/user1.png" alt="Generic placeholder image">
                    </figure>
                    <div class="media-body mx-70">
                        <h5 class="time-title mb-0 text-white">Nagi Reddy</h5>
                        <p class="mb-0 text-truncate text-white">nagireddy@ymail.com</p>
                    </div>
                </div>
            </div>
       
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="/" class="nav-link dropdwown-toggle"><i class="material-icons icon">insert_chart_outlined</i> <span>Home</span><i class="material-icons icon arrow">navigate_next</i></a>
          
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">filter_none</i> <span>Profile</span><i class="material-icons icon arrow">navigate_next</i></a>
                
            </li>
            <li class="nav-item">
                <a routerLink="/recordsdashboard" class="nav-link dropdwown-toggle"><i class="material-icons icon">shopping_cart</i> <span>Records</span><i class="material-icons icon arrow">navigate_next</i></a>
           
            </li>
            <li class="nav-item">
                <a routerLink="/vitals" class="nav-link dropdwown-toggle"><i class="material-icons icon">assignment</i> <span>Vitals</span><i class="material-icons icon arrow">navigate_next</i></a>
  
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">equalizer</i> <span>Medical History</span><i class="material-icons icon arrow">navigate_next</i></a>
               
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">devices</i> <span>Doctors</span><i class="material-icons icon arrow">navigate_next</i></a>
   
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">insert_emoticon</i> <span>Hospitals</span><i class="material-icons icon arrow">navigate_next</i></a>
                 
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">business_center</i> <span>Facilites</span><i class="material-icons icon arrow">navigate_next</i></a>
 
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">web</i> <span>Terms & Conditions</span><i class="material-icons icon arrow">navigate_next</i></a>
                
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">description</i> <span>Logout</span><i class="material-icons icon arrow">navigate_next</i></a>
                
            </li>
            <li><p class="p-4 text-center"> Version 1.0</p></li>
        
        </ul>
    </div>
    <div class="backdrop"></div>   






