<div class="wrapper">
        <div class="background" ></div>
   <div class="container mt-4 main-container  range-slider-container">
       <div class="row">
           <div class="col-md-12">
               <div class="card nbnone">
                   <div class="card-body">
                        <div class="landing-header text-center mb-4">
                                <h1 class="center-text fa-4x text-shadow ultrabold color-white bottom-10">Vitals</h1>
                                
                                <em class="font-11 color-white opacity-60">Tap icon to record your vitals</em>
                                </div>
                    <div class="landing-icons">
                            <a  routerLink="/temperature">
                                    <i class="icon-thermometer15 icon shadow-icon-large gradient-green-dark "></i>
                            <em>Temperature</em>
                            </a>
                            <a  routerLink="/bloodpressure">
                                    <i class="icon-blood12  icon shadow-icon-large gradient-sky-light"></i>
                            <em>BP</em>
                            </a>
                            <a  routerLink="/rbs">
                                    <i class="icon-blood8 icon shadow-icon-large gradient-red-light"></i>
                            <em>RBS</em>
                            </a>
                            <a  routerLink="/cholesterol">
                                    <i class="icon-heart256 icon shadow-icon-large gradient-blue-light"></i>
                                    
                            <em>Cholesterol</em>
                            </a>
                            <a  routerLink="/pulserate">
                                    <i class="icon-pulse1 icon shadow-icon-large gradient-orange-light "></i>
                            <em>Pulse Rate</em>
                            </a>
                            <a  routerLink="/respiratoryrate">
                                    <i class="icon-lung1 icon shadow-icon-large gradient-brown-light"></i>
                            <em>Respiratory</em>
                            </a>
                            <a  routerLink="/bmi">
                                <i class="icon-weights5 icon shadow-icon-large gradient-magenta-light"></i>
                        <em>BMI</em>
                        </a>
                            <div class="clearfix"></div>
                     </div>
                     </div>
               </div>
           </div>
       </div>
        
    </div>   
</div>