<div class="wrapper">
        <!--heading Starts here-->
    <div class="container-fluid bg-light-opac">
        <div class="row">
          <div class="container my-2 main-container">
            <div class="row align-items-center">
              <div class="col-auto">
                <button class="btn btn-rounded  text-uppercase" routerLink="/recordsdashboard"><i class="material-icons">arrow_back</i>
                  <span class="text-hide-xs"></span></button>
              </div>
              <div class="col">
           
                    <div class="form-group col-md-12  mb-0">
                             <p class="mb-0"><strong class="mb-0">View Records</strong></p> 
                            <em class="font-11 color-white opacity-60">Select Records to view </em>
                        
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--heading Ends here-->
      <div class="container mt-2">
          <div class="row">
            <div class="col-12 col-md-6">
                    <div class="card  bg-light-primary border border-primary no-shadow">
                        <div class="card-body p-2">
                            <div class="media">
                                <div class="media-body">
                                        <form class="form-inline mt-0">
                                                <select class="form-control ht-40 ">
                                                        <option>Clinic Records</option>
                                                        <option>Prescriptions</option>
                                                        <option>Lab Orders</option>
                                                        <option>Lab Reports</option>
                                                        <option>X-Ray</option>
                                                        <option>MRI</option>
                                                    </select>
                                        </form>    
                                </div>
                                <span  class="icon-rounded icon-40 bg-primary ml-2">
                                    <i class="material-icons text-white">remove_red_eye</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="container mt-2 main-container ">
    <div class="card mb-2">
        <div class="card-body">
            <div class="media">
                    <div class="swiper-wrapper swipegallery" itemscope>
                <figure class="m-0 swiper-slide avatar avatar-50 mr-3" itemprop="associatedMedia" itemscope>
                    <a href="assets/img/fashion-1063100_640.jpg" class="   swipebox" itemprop="contentUrl" data-size="640x426">
                        <img src="assets/img/fashion-1063100_640.jpg" alt="" itemprop="thumbnail">
                    </a>
                </figure>
            </div>
                <div class="media-body">
                    <h6 class="my-0 mt-1">12-01-2019 <span class=" vm bg-success"></span></h6>
                    <p class="small">Recorded Date</p>
                </div>
                <div ngbDropdown class="d-inline-block elixdropdown">
                    <button class="btn btn-link content-color-secondary" id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">more_vert</i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                      <button class="dropdown-item"><i class="material-icons">mail</i>Email</button>
                      <button class="dropdown-item"><i class="material-icons">share</i>Whatsapp</button>
                     </div>
                  </div>            
                </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <div class="media">
                    <div class="swiper-wrapper swipegallery" itemscope>
                            <figure class="m-0 swiper-slide avatar avatar-50 mr-3" itemprop="associatedMedia" itemscope>
                                <a href="assets/img/sunflowers-3640935_640.jpg" class="   swipebox" itemprop="contentUrl" data-size="640x426">
                                    <img src="assets/img/sunflowers-3640935_640.jpg" alt="" itemprop="thumbnail">
                                </a>
                            </figure>
                        </div>
                <div class="media-body">
                    <h6 class="my-0 mt-1">13-01-2019 <span class=" vm bg-success"></span></h6>
                    <p class="small">Recorded Date</p>
                </div>
                 <div ngbDropdown class="d-inline-block elixdropdown">
                    <button class="btn btn-link content-color-secondary" id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">more_vert</i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                      <button class="dropdown-item"><i class="material-icons">mail</i>Email</button>
                      <button class="dropdown-item"><i class="material-icons">share</i>Whatsapp</button>
                     </div>
                  </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-2">
            <div class="card-body">
                <div class="media">
                        <div class="swiper-wrapper swipegallery" itemscope>
                    <figure class="m-0 swiper-slide avatar avatar-50 mr-3" itemprop="associatedMedia" itemscope>
                        <a href="assets/img/product2.jpg" class="   swipebox" itemprop="contentUrl" data-size="640x426">
                            <img src="assets/img/product2.jpg" alt="" itemprop="thumbnail">
                        </a>
                    </figure>
                </div>
                    <div class="media-body">
                        <h6 class="my-0 mt-1">12-01-2019 <span class=" vm bg-success"></span></h6>
                        <p class="small">Recorded Date</p>
                    </div>
                    <div ngbDropdown class="d-inline-block elixdropdown">
                        <button class="btn btn-link content-color-secondary" id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">more_vert</i></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                          <button class="dropdown-item"><i class="material-icons">mail</i>Email</button>
                          <button class="dropdown-item"><i class="material-icons">share</i>Whatsapp</button>
                         </div>
                      </div>            
                    </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="media">
                        <div class="swiper-wrapper swipegallery" itemscope>
                                <figure class="m-0 swiper-slide avatar avatar-50 mr-3" itemprop="associatedMedia" itemscope>
                                    <a href="assets/img/product1.jpg" class="   swipebox" itemprop="contentUrl" data-size="640x426">
                                        <img src="assets/img/product1.jpg" alt="" itemprop="thumbnail">
                                    </a>
                                </figure>
                            </div>
                    <div class="media-body">
                        <h6 class="my-0 mt-1">13-01-2019 <span class=" vm bg-success"></span></h6>
                        <p class="small">Recorded Date</p>
                    </div>
                     <div ngbDropdown class="d-inline-block elixdropdown">
                        <button class="btn btn-link content-color-secondary" id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">more_vert</i></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                          <button class="dropdown-item"><i class="material-icons">mail</i>Email</button>
                          <button class="dropdown-item"><i class="material-icons">share</i>Whatsapp</button>
                         </div>
                      </div>
                </div>
            </div>
        </div>
     
    </div>
    
</div>