 
       <div class="wrapper" *ngIf="currentUser">
    
    <header class="main-header" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-auto px-0">
                        <button class="btn pink-gradient btn-icon" id="left-menu"><i class="material-icons">widgets</i></button>
                        <a href="javascript:void(0);" class="logo"><img src="../assets/img/logo-icon.png" alt=""> 
                        </a>
                        <form class="search-header">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn " type="button"><i class="material-icons">search</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col px-0 text-right">
                     
                        <div ngbDropdown  class="dropdown d-inline-block text-hide-xs">
                            <a class="btn header-color-secondary btn-icon dropdown-toggle caret-none" href="javascript:void(0);" role="button" id="dropdownmessage2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <figure class="avatar avatar-24 vm d-inline-block border"><img src="../assets/img/india.png" alt=""></figure>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu  aria-labelledby="dropdownmessage2">
                                <div class="dropdown-item">
                                    <figure class="avatar avatar-24 mr-2 vm d-inline-block"><img src="../assets/img/india.png" alt=""></figure> India
                                </div>
                                <div class="dropdown-item">
                                    <figure class="avatar avatar-24 mr-2 vm d-inline-block"><img src="../assets/img/canada.png" alt=""></figure> Canada
                                </div>
                                <div class="dropdown-item">
                                    <figure class="avatar avatar-24 mr-2 vm d-inline-block"><img src="../assets/img/unitedstates.png" alt=""></figure> United States
                                </div>
                                <div class="dropdown-item">
                                    <figure class="avatar avatar-24 mr-2 vm d-inline-block"><img src="../assets/img/uk.png" alt=""></figure> United Kingdom
                                </div>
                              
                            </div>
                        </div>
                  
                        <div  ngbDropdown class="dropdown d-inline-block">
                            <a class="btn header-color-secondary dropdown-toggle username" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <figure class="userpic"><img src="../assets/img/user1.png" alt=""></figure>
                                <h5 >
                                    <small class="header-color-secondary">Welcome,</small>
                                    <span class="header-color-primary">Nagi Reddy</span>
                                </h5>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown" ngbDropdownMenu aria-labelledby="dropdownMenuLink">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <a href="/">
                                            <figure class="avatar avatar-120 mx-auto my-3">
                                                <img src="../assets/img/user1.png" alt="">
                                            </figure>
                                            <h5 class="card-title mb-2 header-color-primary">Nagi Reddy</h5>
                                            <h6 class="card-subtitle mb-3 header-color-secondary">Elix ID NRI001</h6>
                                        </a>
                                        
                                        <button class="btn btn-sm pink-gradient border-0 mb-3">View / Edit Profile</button>
                                    </div>
                                </div>
                               
                                <div class="dropdown-divider m-0"></div>
                          
                                 <a class="dropdown-item pink-gradient-active pointer" (click)="logout()" href="javascript:void(0);">
                                     
                                    <div class="row align-items-center">
                                        <div class="col">
                                            Logout
                                        </div>
  
                                        <div class="col-auto">
                                            <div class="text-danger ml-2"><i class="material-icons vm">exit_to_app</i></div>
                                        </div>
                                    </div>
                                </a>
  
                            </div>
                        </div>
  
                    </div>
                </div>
            </div>
        </header>
     
 <app-menu ></app-menu>

    <app-footer ></app-footer> 
</div>   

<!-- main app container -->
<div class="login-wrapper">
    
        <alert></alert>
        <router-outlet></router-outlet>
 
               
      
</div>

