
.background {
    background:none;
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    
}
.landing-header h1{ font-size: 2rem; color:#16b393}
.landing-icons a {
    width: 33.3%;
    display: block;
    float: left;
    margin-bottom: 4%;
    padding: 6px 0
}
.landing-icons a.active{background: #ffffff; border-radius: 10px; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);}

    .landing-icons a.active em{ color:#0f729a !important}
.landing-icons a i {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 70px;
    line-height: 70px;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.landing-icons a em {
    font-size: 13px;
    font-style: normal;
    margin-top: 5px;
    color: #000 !important;
    font-weight: 600;
    
}
.shadow-icon-large {
    box-shadow: 0 20px 67px 0 rgba(0,0,0,.12),0 5px 14px 0 rgba(0,0,0,.2)!important;
}
.landing-icons a em, .landing-icons a i {
   color:#fff;
    display: block;
    text-align: center;
}

 
.gradient-red-light {
    background-image: linear-gradient(180deg, #ED5565 0, #DA4453 100%)
}

.gradient-red-dark {
    background-image: linear-gradient(180deg, #D8334A 0, #BF263C 100%)
}

.gradient-orange-light {
    background-image: linear-gradient(180deg, #f88168 0, #E9573F 100%)
}

.gradient-orange-dark {
    background-image: linear-gradient(180deg, #FC6E51 0, #d14b35 100%)
}

.gradient-yellow-light {
    background-image: linear-gradient(180deg, #ffd979 0, #fac454 100%)
}

.gradient-yellow-dark {
    background-image: linear-gradient(180deg, #fdc435 0, #e3a526 100%)
}

.gradient-green-light {
    background-image: linear-gradient(180deg, #A0D468 0, #75a243 100%)
}

.gradient-green-dark {
    background-image: linear-gradient(180deg, #9acb66 0, #6e9b3d 100%)
}

.gradient-mint-light {
    background-image: linear-gradient(180deg, #4dd9b6 0, #31a789 100%)
}

.gradient-mint-dark {
    background-image: linear-gradient(180deg, #46d0ad 0, #1d7c66 100%)
}

.gradient-blue-dark,
.gradient-blue-light {
    background-image: linear-gradient(180deg, #52bee3 0, #3291b4 100%)
}

.gradient-sky-light {
    background-image: linear-gradient(180deg, #6ca6ef 0, #3c77c4 100%)
}

.gradient-sky-dark {
    background-image: linear-gradient(180deg, #4690f0 0, #2a5da3 100%)
}

.gradient-magenta-light {
    background-image: linear-gradient(180deg, #b49fe6 0, #7863af 100%)
}

.gradient-magenta-dark {
    background-image: linear-gradient(180deg, #a387e0 0, #6A50A7 100%)
}

.gradient-brown-light {
    background-image: linear-gradient(180deg, #e2c6a7 0, #AA8E69 100%)
}

.gradient-brown-dark {
    background-image: linear-gradient(180deg, #bfaf97 0, #8e8170 100%)
}

.gradient-night-light {
    background-image: linear-gradient(180deg, #656D78 0, #434A54 100%)
}

.gradient-night-dark {
    background-image: linear-gradient(180deg, #3C3B3D 0, #323133 100%)
}
@media screen and (max-width: 320px) {
    .landing-icons a{ width: 50%}
}